<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="250" height="300" alt="Angular Logo" src="/assets/images/HomePageIcon.png">
  <div class="address-section" style="text-align:center">
    <app-country (countryCodeSelected)="getCountryFields($event)"></app-country>
    <app-address-fields (getAddress)="searchAddress($event)" *ngIf="countryCode"></app-address-fields>
  </div>
  
</div>
<router-outlet></router-outlet>
