<div >
  <ng-container *ngIf="addressFields.length > 0">
    <div *ngFor="let field of addressFields;let i = index" class="field-section">
      <span>{{field}} : </span>
      <input [id]="keys[i]" (keyup)="onKey($event)" type="text" *ngIf="addressFieldTypes[i] == 'string'"/>
      <select [id]="keys[i]" (change)="selected($event)" *ngIf="addressFieldTypes[i] == 'list'">
        <option value="">-- Select --</option>
      </select>
    </div>
    <button class="button" (click)="searchAddress()">Search Address</button>
  </ng-container>
</div>
