<div >
  <ng-container *ngIf="addressFields.length > 0">
    <div *ngFor="let field of addressFields;let i = index" class="field-section">
      <span>{{field}} : </span>
      <input [id]="keys[i]" (keyup)="onKey($event)" type="text" *ngIf="addressFieldTypes[i] == 'string'"/>
      <select [id]="keys[i]" (change)="selected($event)" *ngIf="addressFieldTypes[i] == 'list' ">
        <option value="">-- Select --</option>
        <option *ngFor="let entry of addressFieldValues[i]" value= {{entry}}>
          {{entry}}
        </option>
      </select>
    </div>
    <div class="button-group">
      <button class="button" (click)="searchAddress()">Search Address</button>
      <button class="button" (click)="postAddress()">Save Address</button>
    </div>
    <div class="error-msg" *ngIf="error">
      <span >All fields are mandatory. Please fill in all the fields</span>
    </div>
   
  </ng-container>
</div>
